html {
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background: var(--Neutral-20, #F6F6F6);
}

/* CSS JUDUL */
.container .header{
    /* display: flex; */
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem 4rem;
    gap: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(18, 18, 18, 0.10);
    background: var(--White, #FFF);
}
.container .header .title{
    font-weight: 600;
    font-size: 3.2rem;
    margin-top: 1.2rem;
}
.container .header .desc{
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.container .sub-title{
    margin-top: 4rem;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.6rem;
    padding-left: 4rem;
}

/* CSS FORM */
.container .form-pinjam{
    /* display: flex; */
    max-width: 92%;
    margin: 0 auto;
    padding: 2rem 1.6rem;
    gap: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(18, 18, 18, 0.10);
    background: var(--White, #FFF);
}
.container .form-pinjam form{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    width: 108.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}
.form-pinjam .form-wrapper .row{
    display: inline-flex;
    align-items: flex-start;
    gap: 1.6rem;
}
.form-pinjam .row .col .form-control{
    display: flex;
    width: 42.2rem;
    padding: 1.3rem 0.4rem 1.6rem 1.8rem;
    align-items: center;
    border-radius: 1.4rem;
    border: 0.1rem solid var(--Neutral-50, #C6C6C6);
    margin-top: 0.8rem;
}
.form-pinjam .row .col .form-textarea{
    display: flex;
    width: 87rem;
    height: 10rem;
    padding: 1rem 1.8rem 0rem 1.8rem;
    border-radius: 1.4rem;
    border: 0.1rem solid var(--Neutral-50, #C6C6C6);
    margin-top: 0.8rem;
}
.container .item-info .data-table{
    max-width: 94%;
    margin: 0 auto;
    /* padding: 20rem 16rem; */
}

/* CSS TABLE */
.container .item-info {
    width: 100%;
    margin-top: 2.4rem;
}

.container .item-info table {
    width: 100%;
    border-collapse: separate;
    overflow: hidden; 
    border-spacing: 0;
}

.container .item-info tr:first-child th:first-child {
    border-top-left-radius: 1rem;
}

.container .item-info tr:first-child th:last-child {
    border-top-right-radius: 1rem;
}

.container .item-info tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

.container .item-info tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}
.container .item-info th{
    border: 0.1rem solid #1212121A;
    text-align: left;
    padding: 1.2rem;
    font-size: 1.6rem; 
    font-weight: 500; 
    background-color: #FCD106;
    border-color: #FCD106;
}
.container .item-info td {
    background-color: white;
    border: 0.1rem solid #1212121A;
    text-align: left;
    padding: 1.2rem;
    font-size: 1.6rem; 
    font-weight: 400; 
}

.container .item-info th:not(:first-child),
.container .item-info td:not(:first-child) {
    border-left: none;
}

.container .item-info th:not(:last-child),
.container .item-info td:not(:last-child) {
    border-right: none;
}

.container .item-info th:first-child,
.container .item-info td:first-child {
    padding-left: 2rem; 
}
.container .item-info tbody tr:hover {
    background-color: rgba(252, 211, 6, 0.1);
}

/* CSS BUTTON */
.container .confirm-button{
    text-align: center;
    float: right;
    margin-top: 4rem;
    margin-right: 5.5rem;
    /* gap: 1.6rem; */
    font-size: 1.4rem;
    font-weight: 500;
}
.container .confirm-button .btn-kembali{
    width: 24rem;
    height: 5rem;
    text-align: center;
    border-radius: 10rem;
    background-color: #F6F6F6;
    color: #1E1E1E;
    font-weight: 500;
    border: 0.1rem solid var(--Main-Yellow, #FCD106);
}
.container .confirm-button .btn-pinjam{
    width: 24rem;
    height: 5rem;
    margin-left: 1.6rem;
    text-align: center;
    border-radius: 10rem;
    background-color: #FCD106;
    color: #1E1E1E;
    font-weight: 500;
    border: 0.1rem solid var(--Main-Yellow, #FCD106);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal .modal-content {
    /* display: inline-block; */
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 2rem;
    border: 0.1rem solid #888;
    border-radius: 1rem;
    width: 43.6rem;
    height: 28.4rem;
}
.modal .modal-content img{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}
.modal .modal-content h3{
    margin-bottom: 0.4rem;
    font-size: 24px;
}
.modal .modal-content p{
    margin-bottom: 4rem;
    font-size: 20px;
}

/* The Close Button */
.modal .modal-content .close {
    display: inline-block;
    width: 16.2rem;
    height: 5rem;
    text-align: center;
    border-radius: 10rem;
    background-color: #FCD106;
    color: #1E1E1E;
    border: 0.1rem solid var(--Main-Yellow, #FCD106);
    font-size: 1.4rem;
    font-weight: 500;
}