html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: var(--Neutral-20, #f6f6f6);
}
.container {
  width: 100%;
}
/* CSS JUDUL */
.container .header {
  /* display: flex; */
  max-width: 100%;
  margin: 0 auto;
  padding: 1.6rem 4rem;
  gap: 2rem;
  border: 0.1rem solid rgba(18, 18, 18, 0.1);
  background: var(--White, #fff);
}
.container .header .title {
  font-weight: 600;
  font-size: 3.2rem;
}
.container .header .desc {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1.2rem;
}
.container .sub-title {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.custom--form-peminjaman-body {
  padding: 4rem;
  min-height: 100vh;
}

/* CSS FORM */
.container .form-pinjam {
  width: 100%;
  padding: 2rem 1.6rem;
  gap: 2rem;
  border-radius: 1rem;
  border: 0.1rem solid rgba(18, 18, 18, 0.1);
  background: var(--White, #fff);
  margin-bottom: 4rem;
}
.container .form-pinjam form {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.form-pinjam .form-wrapper .row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
/* punya saya */
.form-pinjam .form-wrapper .row:nth-child(1) {
  flex: 1;
  display: flex;
}
.form-pinjam .form-wrapper .row:nth-child(1) .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.form-pinjam .form-wrapper .row:nth-child(1) .col input,
.form-pinjam .form-wrapper .row:nth-child(1) .col select {
  width: 100%;
  outline: none;
  cursor: pointer;
}
.form-pinjam .form-wrapper .row:nth-child(2) .col {
  width: 100%;
}
.form-pinjam .form-wrapper .row:nth-child(2) .col textarea {
  width: calc(1.6rem + 65%);
}
.form-pinjam .row .col .form-control {
  display: flex;
  width: 42.2rem;
  padding: 1.3rem 0.4rem 1.6rem 1.8rem;
  align-items: center;
  border-radius: 1.4rem;
  border: 0.1rem solid var(--Neutral-50, #c6c6c6);
  margin-top: 0.8rem;
}
.form-pinjam .row .col .form-textarea {
  display: flex;
  width: 100%;
  height: 10rem;
  padding: 1rem 1.8rem 0rem 1.8rem;
  border-radius: 1.4rem;
  border: 0.1rem solid var(--Neutral-50, #c6c6c6);
  margin-top: 0.8rem;
  outline: none;
}

input[type="date"].form-control {
  cursor: pointer;
  outline: none;
}
.container .item-info .data-table {
  width: 100%;
  margin: 0 auto;
  /* padding: 20rem 16rem; */
}

/* CSS TABLE */
.container .item-info {
  width: 100%;
  margin-top: 2.4rem;
}

.container .item-info table {
  width: 100%;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
}

.container .item-info tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

.container .item-info tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

.container .item-info tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

.container .item-info tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}
.container .item-info th {
  border: 0.1rem solid #1212121a;
  text-align: left;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #fcd106;
  border-color: #fcd106;
}
.container .item-info td {
  background-color: white;
  border: 0.1rem solid #1212121a;
  text-align: left;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.container .item-info th:not(:first-child),
.container .item-info td:not(:first-child) {
  border-left: none;
}

.container .item-info th:not(:last-child),
.container .item-info td:not(:last-child) {
  border-right: none;
}

.container .item-info th:first-child,
.container .item-info td:first-child {
  padding-left: 2rem;
}
.container .item-info tbody tr:hover {
  background-color: rgba(252, 211, 6, 0.1);
}

/* CSS BUTTON */
.container .confirm-button {
  text-align: center;
  float: right;
  margin-top: 4rem;
  margin-right: 5.5rem;
  /* gap: 1.6rem; */
  font-size: 1.4rem;
  font-weight: 500;
}
.container .confirm-button .btn-kembali {
  width: 24rem;
  height: 5rem;
  text-align: center;
  border-radius: 10rem;
  background-color: #f6f6f6;
  color: #1e1e1e;
  font-weight: 500;
  border: 0.1rem solid var(--Main-Yellow, #fcd106);
  cursor: pointer;
}
.container .confirm-button .btn-pinjam {
  width: 24rem;
  height: 5rem;
  margin-left: 1.6rem;
  text-align: center;
  border-radius: 10rem;
  background-color: #fcd106;
  color: #1e1e1e;
  font-weight: 500;
  border: 0.1rem solid var(--Main-Yellow, #fcd106);
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal .modal-content {
  /* display: inline-block; */
  width: 40rem;
  height: 28rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
  margin: auto;
  border: 0.1rem solid #888;
  border-radius: 1rem;
}
.modal .modal-content h3 {
  font-size: 24px;
}
.modal .modal-content p {
  margin-bottom: 4rem;
  font-size: 20px;
}

/* The Close Button */
.modal .modal-content .close {
  display: inline-block;
  width: 16.2rem;
  height: 5rem;
  text-align: center;
  border-radius: 10rem;
  background-color: #fcd106;
  color: #1e1e1e;
  border: 0.1rem solid var(--Main-Yellow, #fcd106);
  font-size: 1.4rem;
  font-weight: 500;
}

/* POP UP */
.custom--container-warning,
.custom--warning,
.custom--success {
  display: none;
}

.custom--container-warning.show {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -8.8rem;
  align-items: center;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease;
}

.custom--warning.show,
.custom--success.show {
  display: flex;
  gap: 2rem;
  border-radius: 10px;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;
}

.custom--warning.show {
  background: #FCCECE;
} 

.custom--success.show {
  background: #CCF1E5;
}   

.custom--warning .custom--warning-content-text,
.custom--warning .custom--berhasil-content-text {
  display: flex;
  flex-direction: column;
}

.custom--warning .custom--warning-content-text {
  color: #EE0B0B;
}

.custom--success .custom--success-content-text {
  color: #00BA7C;
}

.custom--warning h3,
.custom--warning p,
.custom--success h3,
.custom--success p {
  white-space: nowrap;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.custom--warning p,
.custom--success p {
  font-size: 16px;
  font-weight: 400;
}