@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 10px;
}

section {
    min-height: 100vh;
    width: 100%;
    background-color: #FBF4CF;
    display: flex;
    align-items: center;
    justify-content: center;
}

section form.custom--login-form {
    --height-input: 5rem;
    --text-color-input: #00000070;
    height: 52rem;
    width: 37rem;
    padding: 4.8rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 1px #00000040;
}

.logo {
    width: 100%;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo>.custom--logo svg {
    height: 10rem;
    width: 10rem;
    margin-top: 1rem;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    font-size: 1rem;
}

input {
    height: var(--height-input);
    width: 100%;
    padding: 1.4rem;
    font-size: 1.4rem;
    border-radius: 15px;
    border: none;
    outline: 2px solid #C6C6C6;
    color: var(--text-color-input);
    letter-spacing: .2px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper>#passIcon {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    right: 1rem;
    top: calc(0.5 * 0.5 * var(--height-input));
    /* kalo bingung kenapa begitu ya diambil separuh dari pergeseran top (50%) biar gk usah pake transform-translate lagi*/
    cursor: pointer;
}

.wrapper>label {
    text-align: end;
}

#passIcon {
    background: url(../assets/hiddenPass.svg) no-repeat;
}

#passIcon.show {
    background: url(../assets/showPass.svg) no-repeat;
}

button {
    height: 5rem;
    width: 16rem;
    background-color: #FCD106;
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    color: #fff;
}