:root {
  ---background-color-body: #eee;
  ---header-table-color: #fcd106;
}

.custom--riwayat-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom--header {
  height: 11.6rem;
  padding: 1.6rem 4rem;
}

.custom--header > h1 {
  margin-bottom: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
}

.custom--header > p {
  font-size: 1.6rem;
}

.custom--body {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 4rem;
  background-color: var(---background-color-body);
}

.custom--body > .custom--filter {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.2rem;
}

.custom--body .custom--filter .custom--left {
  height: 5.5rem;
  display: flex;
  align-items: center;
}

.custom--body .custom--filter .custom--left .custom--day-wrapper {
  height: 100%;
  width: 36.5rem;
  padding: 8px 12px;
  display: flex;
  gap: 12px;
  background-color: white;
  border-radius: 1rem;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper {
  height: 100%;
  width: 11rem;
  padding: 0.4rem;
  display: inline;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #1212121a;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper button,
.custom--body .custom--filter .custom--left .custom--sort-wrapper li {
  cursor: pointer;
  list-style: none;
  background-color: #ffffff;
}

.custom--body
  .custom--filter
  .custom--left
  .custom--sort-wrapper
  li
  button
  span {
  font-size: 14px;
  font-weight: 400;
  float: right;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper li button {
  border: none;
  flex-direction: column;
  background-color: #fff;
  margin-top: 1.3rem;
  margin-left: 1.3rem;
  width: 8rem;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper ul {
  list-style: none;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper ul li {
  font-size: 14px;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper ul li button {
  padding: 0.7rem 1rem;
  text-align: left;
  color: inherit;
}

.custom--body .custom--filter .custom--left .custom--sort-wrapper .dropdown {
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  width: 2rem;
}

.custom--body
  .custom--filter
  .custom--left
  .custom--sort-wrapper
  .dropdown
  button {
  width: 16rem;
  height: 0.2rem;
}

.custom--body
  .custom--filter
  .custom--left
  .custom--sort-wrapper
  li:focus-within
  .dropdown {
  height: 10rem;
  width: 16rem;
  border-radius: 1rem;
}

/* MEDIA QUERIES  */
@media (min-width: 640px) {
  .dropdown {
    position: fixed;
    justify-content: end;
    top: 21.8rem;
    padding: 0;
    border-radius: 0.5rem 0.5rem 0.5rem;
  }
}

.custom--body .custom--filter .custom--day-wrapper button {
  flex-grow: 1;
  font-size: 14px;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.custom--body .custom--filter .custom--day-wrapper .active {
  border: 1px solid #fcd106;
  background-color: #fbf4cf;
}

.custom--search {
  position: relative;
  height: 100%;
  width: 35.5rem;
}

.custom--search input::placeholder {
  color: #12121233;
}

.custom--search input[type="text"] {
  height: 100%;
  width: 100%;
  padding: 0 2.8rem;
  font-size: 1.6rem;
  border-radius: 100rem;
  border: none;
  outline: none;
  color: #121212;
  border: 1px solid #1212121a;
}

.custom--search .custom--search-icon {
  position: absolute;
  right: 3rem;
  top: 25%;
}

/* TABLE SECTION*/
.custom--body .custom--table-wrapper {
  flex: 1;
  /* display: flex; */
  flex-direction: column;
}

.custom--body .custom--table-wrapper .custom--card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.custom--body .custom--table-wrapper .custom--card h4 {
  font-size: 20px;
  font-weight: 500;
}

/* THIS IS THE TABLE */
.custom--body .custom--table-wrapper .custom--card table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.custom--card table tr:first-child th:first-child {
  border-radius: 1rem 0 0 0;
}
.custom--card table tr:first-child th:last-child {
  border-radius: 0 1rem 0 0;
}
.custom--card table tr:last-child td:first-child {
  border-radius: 0 0 0 1rem;
}
.custom--card table tr:last-child td:last-child {
  border-radius: 0 0 1rem 0;
}
.custom--card table th,
td {
  padding: 1.2rem;
  border: 1px solid #1212121a;
}
.custom--card table th:first-child,
.custom--card table td:first-child {
  padding-left: 2.4rem !important;
}
.custom--card table th:last-child,
.custom--card table td:last-child {
  padding-right: 2.4rem !important;
}
.custom--card table th:not(:first-child),
.custom--card table td:not(:first-child) {
  border-left: none;
}
.custom--card table th:not(:last-child),
.custom--card table td:not(:last-child) {
  border-right: none;
}
.custom--body .custom--table-wrapper .custom--card table th {
  background-color: var(---header-table-color);
  text-align: start;
  border: none;
  font-size: 12px;
  font-weight: 500;
  height: 5.2rem;
}
.custom--body .custom--table-wrapper .custom--card table td {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  height: 6.2rem;
  border-top: none;
}
