@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap");

:root {
  ---sidebar-color: #38333a;
  ---color-sidebar-icon: #605c61;
  ---text-color: #ffffff;
  ---selected-menu-color: #fcd106;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

.custom--sidebar {
  min-height: 100vh;
  display: flex;
  width: 37.5rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(---sidebar-color);
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 100;
  overflow-y: hidden;
}

.minimize-sidebar {
  width: 9.5rem;
}

.header-sidebar {
  height: 11.5rem;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  border-bottom: 1px solid var(---text-color);
  overflow: hidden;
}

.header-sidebar .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2.4rem;
  color: var(---text-color);
}
.header-sidebar .logo {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(---text-color);
}

.header-sidebar .logo .main-icon {
  height: 100%;
  width: 20rem;
  background: url("../assets/SidebarLogo.svg");
  background-repeat: no-repeat;
  background-position: left;
  object-fit: cover;
}
.header-sidebar .logo .main-icon.hidden {
  display: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.header-sidebar .close-icon {
  background: url("../assets/close-circle.svg");
}
.header-sidebar .close-icon.hamburger {
  background: url("../assets/hamburger.svg");
}
.header-sidebar .close-icon,
.header-sidebar .close-icon.hamburger {
  height: 2.4rem;
  width: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.body-sidebar {
  flex-grow: 1;
  display: flex;
  padding: 2.4rem 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.body-sidebar ul {
  padding: 0;
}

.body-sidebar ul li {
  list-style: none;
}

.body-sidebar ul li:not(:first-child) {
  margin-top: 1.2rem;
}

.body-sidebar ul li a {
  position: relative;
  height: 4.5rem;
  padding: 1.2rem 1.6rem;
  display: flex;
  border-radius: 1rem;
  list-style: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #ffffff20;
  text-decoration: none;
  white-space: nowrap;
}

.body-sidebar ul li a.hide-menu,
.body-sidebar ul li a.active-menu.hide-menu {
  color: transparent;
}

.body-sidebar ul li a .list-icon {
  margin-right: 1rem;
}

.body-sidebar ul li a .list-icon svg path {
  stroke: #ffffff20;
}

.body-sidebar ul li .hover-menu {
  position: relative;
  transition: background-color 0.3s ease-out;
  background-color: var(---color-sidebar-icon);
  color: var(---text-color);
}

.body-sidebar ul li .hover-menu .list-icon svg {
  fill: var(---text-color);
}

.body-sidebar ul li .hover-menu .list-icon svg path {
  stroke: var(---color-sidebar-icon);
}

.body-sidebar ul li .active-menu {
  transition: all 0.3s ease-in-out;
  background-color: var(---color-sidebar-icon);
  position: relative;
}

.body-sidebar ul li .active-menu::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 0.4rem;
  background-color: var(---selected-menu-color);
  animation: selectedIcon 0.3s ease-in;
  border-radius: 1rem;
  left: 0;
}

@keyframes selectedIcon {
  0% {
    top: 10%;
    height: 0;
  }

  100% {
    top: 25%;
    height: 2rem;
  }
}

.body-sidebar ul li .active-menu {
  color: var(---text-color);
}

.body-sidebar ul li .active-menu .list-icon svg {
  fill: var(---text-color);
}

.body-sidebar ul li .active-menu .list-icon svg path {
  stroke: var(---color-sidebar-icon);
}
