@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans&family=Manjari&family=Poppins:wght@400;500;600;700&family=Rubik&display=swap');

html {
  font-size: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.custom--app-parent {
  min-height: 100vh;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

.custom--app-parent > section + section {
  min-height: 100vh;
  /* background-color: red; */
  overflow-y: scroll;
}
